

:root {
	--color-fondo: #289688;
	background-color: var(--color-fondo);
	text-align: center;
}

h1 {
	color: #FCEA3E;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 64px;
	letter-spacing: -2px;
}

img {
	border: 10px solid white;
	margin: 0 0 8px 10px;			/* ^ < > v */
	transform: translateY(12px);
}